@font-face {
   font-family: car-lakeshor;
   src: url("fonts/LAKESHOR-webfont.svg");
   src: url("fonts/LAKESHOR-webfont.woff");
   src: url("fonts/LAKESHOR-webfont.ttf");
}
@font-face {
   font-family: car-airstrem;
   src: url("fonts/Airstream-webfont.svg");
   src: url("fonts/Airstream-webfont.woff");
   src: url("fonts/Airstream-webfont.ttf");
}
:root {
   --thumbnails-img-width: 20vw;
   --thumbnails-img-height: 15vw;
   --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33)
}
body,
html {
   height: 100%;
}
body {
   display: flex;
   flex-direction: column;
   background-color: yellowgreen;
   margin: 0;

}
.logo {
   font-size: 2em;
   background-color: red;
   display: block;
   text-align: center;
   font-family: car-lakeshor;
   text-transform: uppercase;
   letter-spacing: 5px;

}
.main-class {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-grow: 1;
}
.details-frame {
   position: relative;
}
.details-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 10vh;
}
.details-image {
   width: 90vw;
   height: 70vw;
   border-radius: 25%;
}
.details-title {
   display: block;
   font-family: car-airstrem;
   font-style: italic;
   background-color: yellow;
   border: solid 3px red;
   position: absolute;
   left: 28vw;
   bottom: 3vw;
   
}
.thumbnails-list {
   list-style: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-height: 25vh;
   overflow-y: auto;
   justify-content: space-around;
   padding-left: 0;
}
.thumbnails-item {
   max-width: var(--thumbnails-img-width);
   min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
   margin-top: 2.5vh;
   border: solid 3px red;
   border-radius: 25%;
   overflow: hidden;
}
.thumbnails-image {
   width: var(--thumbnails-img-width);
   height: var(--thumbnails-img-height);
   display: block;
}
.thumbnails-title {
   display: block;
   text-align: center;
   height: var(--thumbnails-title-height);
   background-color: yellow;
}
.thumbnails-anchor {
   text-decoration: none;
}
.thumbnails-item:hover {
   transform: scale(1.1);
   margin-left: 1vw;
}
@media(min-width: 560px) {
   :root {
       --thumbnails-img-width: 12vw;
       --thumbnails-img-height: 8vw;
       --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
   }
   .logo {
       font-size: 1.8em;
   }
   .thumbnails-list {
       flex-direction: column;
       flex-wrap: nowrap;
       max-height: 75vh;
       order: -1;
       justify-content: flex-start;
   }
   .main-class {
       flex-direction: row;
       justify-content: space-around;
   }
   .details-image {
       width: 45vw;
       height: 38vw;
   }
   .details-container {
       justify-content: center;
       align-items: center;
       margin-bottom: 0;
   }
   .details-title {
      left: 15vw;
      bottom: 2vw;
   }
   .thumbnails-item:hover {
      margin-right: 1vw;
   }
}
@media (min-width: 900px) {
   .thumbnails-list {
      padding-right: 2vw;
      margin-top: 2.5vh;
      max-height: 86vh;
   }
   .thumbnails-title {
      font-size: 1.5em;
   }
   .details-container {
      margin-top: 5vh;
      margin-right: 5vw;
   }
   .details-title {
      font-size: 1.5em;
      left: 15vw;
      bottom: 1vw;
   }
   .details-image {
      width: 45vw;
      height: 35vw;
   }
}